*.c -text
*.h -text
*.inf -text
*.dsc -text
*.dec -text
*.asm -text
*.nasm -text
*.s -text
*.txt -text
*.asl -text
*.asi -text
*.xml -text
*.bat -text
*.vfr -text
*.hfr -text
*.uni -text
*.py -text
*.simics -text
*.ini -text
